<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<style>

body{
	background-image:url("/assets/bg1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sidenav{
	height:100%;
    width:230px;
	top:0;
	left:0;
	background-color:#DAF7A6;
	overflow-x:hidden;
	padding-top:60px;
	position:fixed;
}	
	
.sidenav a {
	padding:15px 15px 15px 15px;
	text-decoration:none;
	
	display:block;
	color:#818181;
	font-size:25px;
}

.sidenav a:hover{
	text-decoration:black;
}


.content{
	margin-left:230px;
}

	
</style>

</head>

<body>
<header>

<nav class="sidenav">

<!-- sidenav overlay-->


<ul style="list-style-type:none">
	
<li><%= link_to "Home", controller:"sessions", action:'welcome' %></li>
<li><%= link_to "Partners", controller:"partners", action:'list' %></li>
<li><%= link_to "Services ", controller: "servs", action: 'index' %></li>
<li><%= link_to "About us", controller:"home", action:'about' %></li>
<li><%= link_to "career", controller:"careers", action:'apply' %></li>




<li><%= link_to "Log Out ", controller: "sessions", action: 'destroy' %></li>

</ul>



</nav>

</header>



<div class="content">

<h3>What’s destination next? Is it better technology? A better you? Or a better community of makers? Wherever you desire to go, we give you the tools, the techniques, and the teams to navigate the journey. So you’re inspired to build what’s next, ensure your career never stands still, and navigate further together. Move forward. Take the world with you.</h3><br>


<div class="set">
<h2>Graduates</h2>
<h2>Experienced Professionals</h2>
<h2>Students/Internships</h2>
<h2>Explore oppurtunities by location</h2><br>

</div>

<h2>If you are intrested to do a job at our company then you can apply for it<br>
	Just fill the requirements</h2>



<button><%= link_to "Apply", {:action => 'new',:controller => 'careers'}%></button>


</div>


</body>
</html>
