<!Doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>

body{
	background-image:url("/assets/loginbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

.box{
	width:200px;
	height:230px;
	position:static;
	z-index:1;
	border:2px solid black;
	max-width:360px;
	margin-left: auto;
	padding:40px;
	text-align:center;
	width:60%;
	margin-right:auto;
	margin-top:100px;
	
}

button{
	outline:0;
	margin-top:40px;
    width:50%;
   
    color:red;
    text-align:center;
    font-size: 20px;
    padding: 15px 32px;
    background-color: yellow;
   
	
}


h4{
	color:black;
	margin-top: 15px;
}

</style>

</head>

<body>

<center><h1>Welcome to WebitLife</h1></center>	

<div class="box">
	

<% if current_user %>
 Logged in as <%= current_user.email %>.
 <%= link_to 'Log Out', logout_path %>
<% else %>
 <button><%= link_to 'Sign Up', signup_path %></button> 
 <button><%= link_to 'Log In', login_path %></button><br>
 <h3>if you have an account</h3>
<% end %>
<p id='notice'><%= notice %></p>




</div>
</body>
</html>